<div class="container">
    <div class="row" *ngIf="bandera">
        <div class="col" *ngFor="let item of heroes; let i=index">
            <div class="card" style="width: 18rem;">
                <img [src]="item.img" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{i}} {{item.nombre}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                </div>
            </div>

        </div>


    </div>
    <button type="button" class="btn btn-primary" *ngIf="bandera" (click)="this.bandera=!this.bandera">Ocultar</button>
    <button type="button" class="btn btn-danger" *ngIf="!bandera" (click)="this.bandera=!this.bandera">Mostrar</button>

</div>